body {
	margin: 0 auto;
	padding: 0 1vw;
	color: #444;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	max-width: 860px;
	box-sizing: border-box;
}
h1, h2, h3 {
	font-size: 18px;
	color: #222;
}
h2 {
	margin-top: 8px;
	margin-bottom: 8px;
}
/*Name*/
header h1 {
	text-align: center;
	font-size: 24px;
}
.objective {
	margin-top: 5vh;
	margin-bottom: 5vh;
}

/*headers with lines on the side*/
.sideLines {
	text-align: center;
	margin: 1%;
	position: relative;
}
.sideLines:before {
    content: "";
    display: block;
    border-top: solid 1px black;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 50%;
    z-index: -1;
}
  /*white background, used in spans in headers with .sideLines*/
.whiteBack {
	background: #fff;
    padding: 0 20px;
    z-index: 5;
	font-size: 20px;
}
/*lines (not really paragraphs) to be centered, not spaced like paragraphs*/
.contact {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.socialContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 125px; /* 4 icons @ 20px + 15px between*/
}
.linkedin, .medium, .github, .portfolio {
	fill: #444;
	width: 20px;
	height: 20px;
}
.contactItem {
	margin-bottom: 5px;
}
/* .noVertMargin p {
	padding-bottom: 10px;
}
.noVertMargin p:not(:first-child) {
	margin-top: 0;
}
.noVertMargin p:not(:last-child) {
	margin-bottom: 0;
} */
a:link, a:active, a:visited {
	text-decoration: none;
	color: #820;
}
a:hover {
	text-decoration: underline;
	color: #820;
}
li {
	margin-bottom: 0.25em;
}
ul {
	list-style-type: square;
}
.skills ul {
	margin-top: 8px;
	margin-bottom: 8px;
}
.flexList {
	width: 100%;
}
.flexList:after {
	content: "";
	display: block;
	width: 100%;
	clear: both;
}
.flexList ul {
	list-style-type: square;
	margin-top: 8px;
	margin-bottom: 8px;
}
.education h3 {
	margin-bottom: 0;
}
.education p {
	margin-top: 0;
}
.experience h2, .work h2 {
		text-align: center;
}
section p, article p, .education h3 {
	margin-left: 2vw;
	margin-right: 2vw;
	margin-top: 0;
}
.roleTitle {
	font-style: bold;
	text-decoration: underline;
}
/*mobile: div pipes is in-line, <br> executes (default)*/
.pipes {
}
.pipes span {
	display: none;
}
.flex-line {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 0;
}
.flex-item {
	display: flex;
	font-size: 18px;
	color: #222;
	font-weight: bold;
	margin-bottom: 0;
}
.contactPipe {
	display: inline;
	color: #ddd;
	padding-left: 5px;
	padding-right: 5px;
}
.contactPipe:nth-of-type(3) {
	display: none;
}
#printButton {
	background-color: rgba(255,255,255,0.5); 
	border: none;
	text-decoration: underline;
	font-size: 16px;
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	padding: 10px;
	border-radius: 10px;
}
/*footer*/
footer {
	margin-top: 20px;
	color: #555;
}

.tooltip {
	position: relative;
	display: flex;
}
.tooltipText {
	display: none;
	position: absolute;
	height: 230%;
	top: 100%;
	right: 50%;
	border-radius: 10px 0 10px 10px;
	background-color: white;
	opacity: .95;
	border: 1px solid #444;
	margin: 0;
	font-size: 75%;
	z-index: 2;
	padding: 0 5px;
}
.tooltipText p {
	margin: 0;
	text-align: right;		
}
.tooltip:hover .tooltipText {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}
footer .tooltipText {
	top: -250%;
	border-radius: 10px 10px 0 10px;
}

.printOnly {
	display: none;
}
/*~~~~~~~~~~~~~ START MEDIA ~~~~~~~~~~~~~~~~~~~*/

/*Mobile-L or larger: lists as 2 columns*/
@media screen and (min-width: 460px){
	.flexList ul {
		overflow: auto; /*do this instead of changing to inline blocks so we keep the bullets*/
	}
	.flexList ul li {
		width: 48%;
		float: left;
		padding-right: 2%; /*so that when we overflow, we don't overlap*/
	}

}
/*tablet or larger*/
@media screen and (min-width: 768px), print {
	#printButton {
		display: block;
	}
	header h1 {
		font-size: 125%;
	}
	.objective {
		margin-top: 2vh;
		margin-bottom: 2vh;
	}
	.experience h2, .work h2 {
		text-align: left;
	}
	.education h3 {
		margin-left: 0;
		margin-right: 0;
	}
	.pipes {
		display: inline-block;
		content: "|";
	}
	.pipes br {
		display: none;
	}
	.pipes span {
		display: inline;
		color: #ddd;
		padding-left: 5px;
		padding-right: 5px;
	}
	.flex-line {
		flex-direction: row;
	}
	.flexList ul {
		overflow: auto; /*do this instead of changing to inline blocks so we keep the bullets*/
	}
	.flexList ul li {
		width: 30%;
		float: left;
		padding-right: 3.33%; /*so that when we overflow, we don't overlap*/
	}
	.breakMobile { 
    	display: none; 
    }
    .contactPipe:nth-of-type(3) {
    	display: inline;
    }
    li {
		margin-bottom: 0.25em;
	}
	.contact {
		flex-direction: row;
	}

	footer {
		padding-top: 15px;
		border-top: 1px solid black;
	}
}

@media print {
	body {
		font-family: "Times New Roman" , Times , serif;
		font-size: 88%;
		background-color: white;
		width: auto;
	}
	/*just listing a {} didn't work*/
	a:link, a:active, a:visited {
		text-decoration: none;
		color: #444;
	}
	.pageBreakAfter {
		page-break-after: always;
	}
	#printButton {
		display: none;
	}
	li {
		margin-bottom: 0.25em;
	}
	.printOnly {
		display: inline;
	}
	.flex-item, h2 {
		font-size: 16px;
	}
	.noBotMarginPrint, .erpList li {
		margin-bottom: 0;
	}
	.moreSpaceOnPrint, .moreSpaceOnPrint p {
		margin-top: 8px;
	}
	.lessSpaceOnPrint {
		margin-top: 0px;
		margin-bottom: 4px;
	}
}

